body{
    background:#0f172a;
    color:white;
    font-family:Arial;
    text-align:center;
}

input{
    padding:10px;
    margin:10px;
    width:250px;
}

button{
    padding:10px 20px;
    margin:5px;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

.card{
    background:#1e293b;
    width:450px;
    margin:15px auto;
    padding:15px;
    border-radius:10px;
}

.present{
    background:#16a34a;
    color:white;
}

.absent{
    background:#dc2626;
    color:white;
}

.delete{
    background:#475569;
    color:white;
}
